<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nancy's Nails and Hair</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
    	This is the help section of Nancy's Nails and Hair. A place that consists of job hiring, concerns, and everything related to a help section.
    </p>
  </body>
</html>
