<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nancy's Nails and Hair</title>
  </head>
  <body>
    <h1>Nancy's Nails and Hair</h1>
    <p>
      My favorite son created a website for my business! Check out his portfolio! <a href="https://kuddox.com">Kuddox.com</a>
    </p>
  </body>
</html>