<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nancy's Nails & Hair</title>
  </head>
  <body>
  	<div class="jumbotron">
  		<div class="container">
  			<div class="page-header">
  				<div class="row">
  					<div class="col-sm-12">
							<h1>Nancy's Nails & Hair 
								<small>
									<p>Providing premium, quality service since 2001.</p>      
								</small>
							</h1>
	  				</div>
	  			</div>
  			</div>
  		</div>
  	</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-tint"></span>
					<h3>About Nancy</h3>
					<p>Nancy is prideful in her work and technique. Thoroughly trained in Southern California (US Nails), she provides beautiful, long lasting nails and happy clients!</p>
					<p></p>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-phone-alt"></span>
					<h3>Schedule an appointment</h3>
					<address>
  					<strong>Nancy's Nails & Hair</strong><br>
  					4700 S 900 E STE 10<br>
  					Salt Lake City, UT 84117-4980<br>
  					(801) 268-6366
					</address>
					<p>
						Open Tuesday thru Saturday<br>
						9:00 AM - 6:00 PM
					</p>
				</div>
				<div class="col-sm-4">
					<span class="mega-octicon octicon-beer"></span>
					<h3>Thirsty?</h3>
					<p>There are not one, but TWO bars in the area!</p>
					<p><strong>The Royal</strong> featuring Royal Bliss</p>
					<p>The Leprechaun Inn</p>
				</div>
			</div>
		</div>
  </body>
</html>


