<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nancy's Nails & Hair</title>
  </head>
  <body>
  	<nav class="navbar navbar-inverse">
  		div.
		</nav>
  	<div class="jumbotron">
  		<div class="container">
  			<div class="page-header">
  				<div class="row">
  					<div class="col-sm-12">
							<h1>Nancy's Nails & Hair      
								<small>
								<p>My favorite son created a website for my business! Check out his portfolio! </p>      
								</small>
							</h1>
					    <a href="https://kuddox.com">Kuddox.com</a>
	  				</div>
	  			</div>
  			</div>
  		</div>
  	</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-tint"></span>
					<h3>Pedicures/Manicures</h3>
					<p>Very comfortable massagechairs!</p>
					<p>Call for prices!</p>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-phone-alt"></span>
					<h3>Schedule an appointment</h3>
					<address>
  					<strong>Nancy's Nails & Hair</strong><br>
  					4700 S 900 E STE 10<br>
  					Salt Lake City, UT 84117-4980<br>
  					(801) 268-6366
					</address>
				</div>
				<div class="col-sm-4">
					<span class="mega-octicon octicon-beer"></span>
					<h3>Why Wait?</h3>
					<p>There's a bar right down the complex!</p>
				</div>
			</div>
		</div>
  </body>
</html>


