<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nancy's Nails & Hair</title>
  </head>
  <body>
  	<div class="jumbotron">
  		<div class="container">
  			<div class="page-header">
  				<div class="row">
						<h1>Nancy's Nails & Hair</h1>      
						<small>
							<p>My favorite son created a website for my business! Check out his portfolio! </p>      
						</small>
				    <a href="https://kuddox.com">Kuddox.com</a>
	  				</div>
  			</div>
  		</div>
  	</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h3>Book an appointment</h3>
					<p>Phone: (801) 268-6366</p>
				</div>
				<div class="col-sm-4">
					<h3>Pedicures/Manicures</h3>
					<p>Very comfortable massagechairs!</p>
					<p>Call for prices!</p>
				</div>
				<div class="col-sm-4">
					<h3>Quality Nails</h3>
					<p>Extensive training from Southern California.</p>
				</div>
			</div>
		</div>
  </body>
</html>