<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nancy's Nails & Hair</title>
  </head>
  <body ng-app="Nancys" ng-controller="NailCtrl">
  	<div class="jumbotron"> 
  		<div class="container">
  			<div class="page-header">
  				<div class="row">
  					<div class="col-xs-12">
							<h1>Nancy's Nails & Hair 
								<small>
									<p>Providing premium, quality service since 2001.</p>      
								</small>
							</h1>
	  				</div>
	  			</div>
  			</div>
  		</div>
  	</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-heart-empty"></span>
					<h3>About Nancy</h3>
					<p>Nancy is prideful in her work and technique. Thoroughly trained in Southern California (US Nails), she provides beautiful, long lasting nails and happy clients!</p>
					<p></p>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-phone-alt"></span>
					<h3>Schedule an Appointment</h3>
					<address>
  					<strong>Nancy's Nails & Hair</strong><br>
  					4700 S 900 E STE 11<br>
  					(Ivy Place)<br>
  					Salt Lake City, UT 84117-4980<br>
  					(801) 268-6366
					</address>
					<p>
						Open Tuesday thru Saturday<br>
						9:00 AM - 6:00 PM
					</p>
				</div>
				<div class="col-sm-4">
					<span class="fa fa-angellist"></span>
					<h3>Jobs</h3>
					<p>Booth rent available for hair stylist! Call Nancy for more details.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-tint"></span>
					<h3>Quality Polish</h3>
					<p>See all of Nancy's latest creations, uploaded herself. (coming soon)</p>
				</div>
				<div class="col-sm-4">
					<!-- Small modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
						<span class="fa fa-list-alt"></span>
					</button>
						<h3>Nail Services</h3>
					<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  			<div class="modal-dialog modal-sm">
		    			<div class="modal-content">
		    				<h2>Price List</h2>
		    				<table class="table table-condensed">
		    					<thead>
		    						<tr>
		    						</tr>
		    					</thead>
		    					<tbody>
		    						<tr>
		    							<td>Shellac</td>
		    							<td>$15</td>
		    						</tr>
		    						<tr>
		    							<td>Fill</td>
		    							<td>$24</td>
		    						</tr>
		    						<tr>
		    							<td>Full Set</td>
		    							<td>$35</td>
		    						</tr>
		    						<tr>
		    							<td>Back Fill</td>
		    							<td>$38</td>
		    						</tr>
		    						<tr>
		    							<td>Manicure</td>
		    							<td>$15</td>
		    						</tr>
		    						<tr>
		    							<td>Pedicure</td>
		    							<td>$30</td>
		    						</tr>		    						
		    						<tr>
		    							<td>Toe Nails Clip</td>
		    							<td>$12</td>
		    						</tr>
		    						<tr>
		    							<td>Nails Clip</td>
		    							<td>$7</td>
		    						</tr>
		    						<tr>
		    							<td>Soak Off</td>
		    							<td>$12</td>
		    						</tr>
		    					</tbody>
		    				</table>
		    			</div>
		  			</div>
					</div>
				</div>
				<div class="col-sm-4">
					<span class="mega-octicon octicon-beer"></span>
					<h3>Thirsty?</h3> 
					<p>Show off your nails at nearby local bars and clubs!</p>
					<ul style="list-style-type:none">
						<li>
							<a href="http://www.theroyalslc.com">The Royal</a>
						</li>
						<li>The Leprechaun Inn</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row-sm-12">
				<h1>Reviews</h1>
				<div ng-repeat="post in posts | orderBy: '-upvotes'">
					<span ng-click="incrementUpvotes(post)">^</span>
					{{post.title}} - upvotes: {{post.upvotes}}
				</div>
				<form ng-submit="addPost()">
					<input type="text" ng-model="title"></input>
					<button type="submit">Post</button>
				</form>
			</div> <!-- closing row-sm-12 -->
		</div> <!-- closing container -->
		<div class="footer">
			<div class="container">
				<p>Nancy's Nails & Hair © 2015</p>
			</div>
		</div> <!-- footer -->
  </body>
</html>


