<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nancy's Nails & Hair</title>
  </head>
  <body>
  	<div class="jumbotron">
  		<div class="container">
  			<div class="page-header">
  				<div class="row">
  					<div class="col-xs-12">
							<h1>Nancy's Nails & Hair 
								<small>
									<p>Providing premium, quality service since 2001.</p>      
								</small>
							</h1>
	  				</div>
	  			</div>
  			</div>
  		</div>
  	</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-heart-empty"></span>
					<h3>About Nancy</h3>
					<p>Nancy is prideful in her work and technique. Thoroughly trained in Southern California (US Nails), she provides beautiful, long lasting nails and happy clients!</p>
					<p></p>
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-phone-alt"></span>
					<h3>Schedule an Appointment</h3>
					<address>
  					<strong>Nancy's Nails & Hair</strong><br>
  					4700 S 900 E STE 11<br>
  					(Ivy Place)<br>
  					Salt Lake City, UT 84117-4980<br>
  					(801) 268-6366
					</address>
					<p>
						Open Tuesday thru Saturday<br>
						9:00 AM - 6:00 PM
					</p>
				</div>
				<div class="col-sm-4">
					<span class="mega-octicon octicon-beer"></span>
					<h3>Thirsty?</h3>
					<p>There are not one, but TWO bars in the area!</p>
					<p><strong>The Royal</strong> featuring Royal Bliss</p>
					<p>The Leprechaun Inn</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-tint"></span>
					<h3>Quality Polish</h3>
				</div>
				<div class="col-sm-4">
					<!-- Small modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
						<span class="fa fa-paint-brush"></span>
					</button>
						<h3>Services</h3>
					<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  			<div class="modal-dialog modal-sm">
		    			<div class="modal-content">
								<ul style="list-style-type:none">	      				
									<li>Mani/Pedis</li>
										<ol>Manicures $15</ol>
										<ol>Pedicures $20</ol>
										<ol>Both $25</ol>
		      				<li>Acrylic Nails</li>
		      					<ol>Full Set $22</ol>
		      					<ol>Refill $18</ol>
		      					<ol>Repairs $4</ol>
		      				<li>Shellac</li>
		      				<li>French Tip</li>
		      			</ul>
		    			</div>
		  			</div>
					</div>
				</div>
				<div class="col-sm-4">
					<span class="fa fa-angellist"></span>
					<h3>Jobs</h3>
					<p>Booth rent available for hair stylist!</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row-sm-12">
				<h3>Write a comment...</h3>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<p>Nancy's Nails & Hair © 2015</p>
			</div>
		</div> <!-- footer -->
  </body>
</html>


