/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/* 
 * =require sprockets-octicons
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  margin-bottom: 0px;
  padding: 115px 0px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: #800020;
  
  text-shadow: gray 0.2em 0.2em 0.2em;
  text-align: center;
  
  font-family: cursive, candara, sans-serif;
}

.btn-primary {
	background-color: #800020;
	border-color: #800020;
}

.container {
	color: #800020;
	text-align: center;
	padding-top: 100px;
	font-family: cursive, candara, sans-serif;
}

.fa {
	font-size: 40px;
}

.glyphicon, .mega-octicon {
	font-size: 40px;
}

.modal-content {
	text-align: center;
}

.thead .tr .th {

}

.glyphicon-thumbs-up { 
	cursor:pointer 
}

/*Angular modal list*/
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #800020;
  color: white;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
