/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/* 
 * =require sprockets-octicons
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/59ZRklaO5bWGqF5A9baEEZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

.jumbotron {
  margin-bottom: 0px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  
  text-shadow: gray 0.2em 0.2em 0.2em;
  text-align: center;
  
  font-family: cursive;
}

.container {
	color: #800020;
	text-align: center;
<<<<<<< HEAD
	padding-top: 75px;
	text-align: center;
	font-family: cursive, sans-serif;
=======
	padding-top: 100px;
	font-family: cursive;
>>>>>>> 94b4df34694d61f82702dcbe4d4b840b9c80e3f6
}

.glyphicon, .mega-octicon {
	font-size: 40px;
}
