<h2>Price List</h2>
<table class="table table-condensed">
	<thead>
		<tr></tr>
	</thead>
	<tbody>
		<tr>
			<td>Shellac</td>
			<td>$15</td>
		</tr>
		<tr>
			<td>Fill</td>
			<td>$24</td>
		</tr>
		<tr>
			<td>Full Set</td>
			<td>$35</td>
		</tr>
		<tr>
			<td>Back Fill</td>
			<td>$38</td>
		</tr>
		<tr>
			<td>Manicure</td>
			<td>$15</td>
		</tr>
		<tr>
			<td>Pedicure</td>
			<td>$30</td>
		</tr>		    						
		<tr>
			<td>Toe Nails Clip</td>
			<td>$12</td>
		</tr>
		<tr>
			<td>Nails Clip</td>
			<td>$7</td>
		</tr>
		<tr>
			<td>Soak Off</td>
			<td>$12</td>
		</tr>
	</tbody>
</table>